* {
  margin: 0;
}

/* TABLA MES */

body {
  min-height: 100vh;
  font-family: 'Uncial Antiqua', cursive;
  font-size: medium;
}

.menu{
  font-size: xx-large;
}

#tituloPagina {
  font-family: 'Uncial Antiqua', cursive;
  color: red;
  text-shadow: 5px 5px 5px #83647e;
  font-size: xx-large;
  text-align: center;
}

#calendario {
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  font-size: xx-large;
}

.ayuda {
  color:#fff;
  background-color:#29ad1d;
  width:30px;
  height:30px;
  display:inline-block;
  border-radius:100%;
  font-size:20px;
  text-align:center;
  text-decoration:none;
  -webkit-box-shadow: inset -3px -3px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -3px -3px 3px 0px rgba(0,0,0,0.25);
  box-shadow: inset -3px -3px 3px 0px rgba(0,0,0,0.25);
}
table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

th {
  font-weight: bold;
  background-color: #E6E6E6;
}

.diaMes {
  font-weight: bold;
  color: midnightblue;
  font-size: x-large;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

.clavePrincipal {
  /* key */
  background-color: yellow;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}